# --- Regras para o Backend (Python) ---
back/venv/
back/.env
back/__pycache__/
back/instance/
back/leads.db
back/gerar_massa.py

# --- Regras para o Frontend (React) ---
front/node_modules/
front/.env