@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  @apply font-sans antialiased;
}
